@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: 43% !important;
  width: 53px !important;
  height: 53px !important;
  background: none;
  background-repeat: no-repeat;
}
.swiper-button-next {
  right: -5px !important;
  background-image: url("../assets/img//swiper-next-button.png") !important;
}
.swiper-button-prev {
  left: -3px !important;
  background-image: url("../assets/img//swiper-prev-button.png") !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  opacity: 0;
}
.swiper-button-prev::after {
  background-image: url("../assets/img//swiper-prev-button.png") !important;
}
.swiper-button-next::after {
  background-image: url("../assets/img//swiper-next-button.png") !important;
}

.swiper-slide:nth-child(2n-1) {
  border-right: 1px solid #f4e4ce; /* 경계선 색상과 두께 설정 */
}

.swiper-slide:last-child {
  border-right: none; /* 마지막 슬라이드에는 경계선 없애기 */
}

body {
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
